
<!-- Router
addRoute({
    path: '/hocsinh/monhoc',
    url: site_url('/hocsinh/monhoc.html'),
    on: AEventPage("hocsinhmonhoc")
}).then((page)=>{

});
!-->
<div class="page intro" data-name="hocsinhmonhoc">
      <!-- Top Navbar -->
      <div class="navbar webviewnewsbars">
         <div class="navbar-bg"></div>
 <div class="navbar-inner sliding">
   <div class="left">
     <a href="#" class="link back">
       <i class="icon icon-back"></i>
       <span class="if-not-md"></span>
     </a>
   </div>
   <div class="title">Môn học</div>
   
 </div>
</div>

          
          <!-- Scrollable page content -->
           <div class="page-content">
               <div class="block">
            <div class="buttons">
               
          </div>
           </div>
          </div>
    </div>
    