
<!-- Router
addRoute({
    path: '/giaovien/dangbaitap/',
    url: site_url('/giaovien/dangbaitap.html'),
    on: AEventPage("giaoviendangbaitap")
}).then((page)=>{

});
!-->
<div class="page giaoviendangbaitap" data-name="giaoviendangbaitap">
      <!-- Top Navbar -->
      <div class="navbar webviewnewsbars">
         <div class="navbar-bg"></div>
 <div class="navbar-inner sliding">
   <div class="left">
     <a href="#" class="link back">
       <i class="icon icon-back"></i>
       <span class="if-not-md"></span>
     </a>
   </div>
   <div class="title">Đăng bài</div>
   
 </div>
</div>

          
          <!-- Scrollable page content -->
           <div class="page-content">
              <form action="">
                <div class="white-view">
                  <div class="form-group">
                     <label for="xxx">Thời gian nhận</label>
                     <input type="datetime" name="deadline"  class="form-control" />
                  </div>
                   <div class="form-group">
                     <label for="xxx">Bộ môn</label>
                      <select name="monhoc" class="form-control">
                       
                     </select>
                  </div>
                 
                    
                </div>
                <div class="white-view">
                   <p>Nội dung bài tập</p>
                   <textarea name="content" style="height: 200px" class="form-control">
                     
                   </textarea>
                </div>

                <div class="white-view text-center">
                  
                   <button type="button" class="btn btn-primary">Đăng bài</button>
                </div>
             </form>
          </div>
    </div>
    