
<!-- Router
addRoute({
    path: '/giaovien/danhsachphanquyen/',
    url: site_url('/giaovien/danhsachphanquyen.html'),
    on: AEventPage("giaoviendanhsachphanquyen")
}).then((page)=>{

});
!-->
<div class="page giaoviendanhsachphanquyen" data-name="giaoviendanhsachphanquyen">
      <!-- Top Navbar -->
      <div class="navbar webviewnewsbars">
         <div class="navbar-bg"></div>
 <div class="navbar-inner sliding">
   <div class="left">
     <a href="#" class="link back">
       <i class="icon icon-back"></i>
       <span class="if-not-md"></span>
     </a>
   </div>
   <div class="title">Danh sách học sinh</div>
    
 </div>
</div>

          
          <!-- Scrollable page content -->
            <div class="page-content">
    <div class="block">
      <div class="p-head flex-col">
         <div>Danh sách học sinh: <span>2</span></div>
         <a href="/giaovien/phaquyenhocsinh/">+ Thêm</a>
      </div>
      <div class="buttons">
        <a href="/hocsinh/profile/1">
           <div class="flex-col">
              <div>
                 <div class="name">Trương Văn Bé Giỏi</div>
                 <div class="name">Vị trí ghế : 23</div>
              </div>
              <div>
                 <div class="name">Học sinh</div>
                 <div class="name">Nam</div>
              </div>
           </div>
        </a>

        <a href="/hocsinh/profile/2">
           <div class="flex-col">
              <div>
                 <div class="name">Lê Thị Bé Tư</div>
                 <div class="name">Vị trí ghế : 13</div>
              </div>
              <div>
                 <div class="name">Học sinh</div>
                 <div class="name">Nữ</div>
              </div>
           </div>
        </a>
         
      </div>
    </div>
  </div>
    </div>
    