
<!-- Router
addRoute({
    path: '/giaovien/giaovienboard',
    url: site_url('/giaovien/giaovienboard.html'),
    on: AEventPage("giaoviengiaovienboard")
}).then((page)=>{

});
!-->
<div class="page giaoviengiaovienboard" data-name="giaoviengiaovienboard">
     
          <!-- Scrollable page content -->
           <div class="page-content">
              <div class="flex-col">
                  <a href="/giaovien/profile/1">
                     <img width="45" height="45" src="https://cdn-icons-png.flaticon.com/128/1165/1165674.png" class="round" alt="">
                  </a>
                  <div class="flex">
                      <div class="name">Nguyễn Giáo viên</div> 
                      <div class="address">Vũng tàu</div>
                  </div>
              </div>
                  <div class="buttons">
              <a href="/monhoc/">
            <img src="https://cdn-icons-png.flaticon.com/128/2666/2666505.png" width="75" height="75"><br/>Bộ môn
          </a>
          <a href="/lophoc/">
            <img src="https://cdn-icons-png.flaticon.com/128/2666/2666505.png" width="75" height="75"><br/>Lớp học
          </a>

          <a href="/giaovien/phaquyenhocsinh/">
            <img src="https://cdn-icons-png.flaticon.com/128/2666/2666505.png" width="75" height="75"><br/>Phân quyền
          </a>

          <a href="/giaovien/xembaocaohocsinh/">
            <img src="https://cdn-icons-png.flaticon.com/128/2666/2666505.png" width="75" height="75"><br/>Báo cáo
          </a>
          </div>
              </div>
          </div>
    </div>
    