<div class="page monhoc" data-name="monhoc">
      <!-- Top Navbar -->
      <div class="navbar webviewnewsbars">
         <div class="navbar-bg"></div>
 <div class="navbar-inner sliding">
   <div class="left">
     <a href="#" class="link back">
       <i class="icon icon-back"></i>
       <span class="if-not-md"></span>
     </a>
   </div>
   <div class="title">Môn học</div>
   <div class="right">
    <a href="/giaovien/dangbaitap/">Đăng bài tập</a>
   </div>
   
 </div>
</div>

          
          <!-- Scrollable page content -->
           <div class="page-content">
               <div class="block">
            <div class="buttons">
              <a href="/monhoc/item/1">
                  <div class="flex-col">
            <img src="https://cdn-icons-png.flaticon.com/128/2666/2666505.png" width="75" height="75"><br/>Tiếng Anh
          </div>
          </a>
          <a href="/monhoc/item/1">
              <div class="flex-col">
            <img src="https://cdn-icons-png.flaticon.com/128/2666/2666505.png" width="75" height="75"><br/>Toán Học
          </div>
          </a>

          <a href="/monhoc/item/1">
              <div class="flex-col">
            <img src="https://cdn-icons-png.flaticon.com/128/2666/2666505.png" width="75" height="75"><br/>Sinh học
          </div>
          </a>

          <a href="/monhoc/item/1">
              <div class="flex-col">
            <img src="https://cdn-icons-png.flaticon.com/128/2666/2666505.png" width="75" height="75"><br/>Hoá học
          </div>
          </a>
          </div>
           </div>
          </div>
    </div>