
<!-- Router
addRoute({
    path: '/phuhunh/taikhoan/',
    url: site_url('/phuhunh/taikhoan.html'),
    on: AEventPage("phuhunhtaikhoan")
}).then((page)=>{

});
!-->
<div class="page phuhunhtaikhoan" data-name="phuhunhtaikhoan">
      <!-- Top Navbar -->
      <div class="navbar webviewnewsbars">
         <div class="navbar-bg"></div>
 <div class="navbar-inner sliding">
   <div class="left">
     <a href="#" class="link back">
       <i class="icon icon-back"></i>
       <span class="if-not-md"></span>
     </a>
   </div>
   <div class="title">--</div>
   
 </div>
</div>

          
          <!-- Scrollable page content -->
           <div class="page-content">
              
          </div>
    </div>
    