
<!-- Router
addRoute({
    path: '/user/forgotstepsuccess/',
    url: site_url('/user/forgotstepsuccess.html'),
    on: AEventPage("userforgotstepsuccess")
}).then((page)=>{

});
!-->
<div class="page userforgotstepsuccess" data-name="userforgotstepsuccess">
       

          
          <!-- Scrollable page content -->
           <div class="page-content text-center">
              <div class="block">
                <div>
                  <img src="https://cdn-icons-png.flaticon.com/128/190/190411.png" alt="">
                </div>
                <p>Xin chúc mừng!</p>
                <p>Cập nhật mật khẩu thành công</p>
                 

                <div>
                    <a href="/user/login/" class="btn btn-primary btn-submit">Đăng nhập</a>
                </div>
              </div>
          </div>
    </div>
    