
<!-- Router
addRoute({
    path: '/user/forgotphuhuynh/',
    url: site_url('/user/forgotphuhuynh.html'),
    on: AEventPage("userforgotphuhuynh")
}).then((page)=>{

});
!-->
<div class="page userforgotphuhuynh" data-name="userforgotphuhuynh">
       <!-- Top Navbar -->
      <div class="navbar webviewnewsbars">
         <div class="navbar-bg"></div>
 <div class="navbar-inner sliding">
   <div class="left">
     <a href="#" class="link back">
       <i class="icon icon-back"></i>
       <span class="if-not-md"></span>
     </a>
   </div>
   <div class="title">Khôi phục</div>
   
 </div>
</div>

          
          <!-- Scrollable page content -->
           <div class="page-content">
              <div class="block">
                <p>Tài khoản cho Phụ huynh. Vui lòng cung cấp thông tin bê dứoi:</p>
                <form action="" method="POST">
                   
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" id="exampleInputPassword1">
                  </div>
 
                </form>

                <div>
                    <button onclick="$(this).closest('.page').find('form').submit()" class="btn btn-primary btn-submit">Tiếp tục</button>
                </div>
              </div>
          </div>
    </div>
    