
<!-- Router
addRoute({
    path: '/hocsinh/baitap/index',
    url: site_url('/hocsinh/baitap/index.html'),
    on: AEventPage("hocsinhbaitapindex")
}).then((page)=>{

});
!-->
<div class="page intro" data-name="hocsinhbaitapindex">
      <!-- Top Navbar -->
      <div class="navbar webviewnewsbars">
         <div class="navbar-bg"></div>
 <div class="navbar-inner sliding">
   <div class="left">
     <a href="#" class="link back">
       <i class="icon icon-back"></i>
       <span class="if-not-md"></span>
     </a>
   </div>
   <div class="title namemonhoc">--</div>
   
 </div>
</div>

          
          <!-- Scrollable page content -->
           <div class="page-content">
              <div class="calendar-input"></div>
              <div class="block">
                 <div class="p-head flex-col">
                 <div>Bài tập mới: <span class="total_new">--</span></div> 
              </div>
              <div class="buttons new">
                 
                 
              </div>
              <div class="block">
                 <div class="p-head flex-col">
                 <div>Bài tập gần đây: <span class="total_done">--</span></div> 
              </div>
              <div class="buttons done">
                 
                 
              </div>
                      </div>
          </div>
    </div>
    