
<!-- Router
addRoute({
    path: '/hocsinh/baitap/index',
    url: site_url('/hocsinh/baitap/index.html'),
    on: AEventPage("hocsinhbaitapindex")
}).then((page)=>{

});
!-->
<div class="page intro" data-name="hocsinhbaitapindex">
      <!-- Top Navbar -->
      <div class="navbar webviewnewsbars">
         <div class="navbar-bg"></div>
 <div class="navbar-inner sliding">
   <div class="left">
     <a href="#" class="link back">
       <i class="icon icon-back"></i>
       <span class="if-not-md"></span>
     </a>
   </div>
   <div class="title">Tiếng Anh</div>
   
 </div>
</div>

          
          <!-- Scrollable page content -->
           <div class="page-content">
              <div class="calendar-input"></div>
              <div class="block">
                 <div class="p-head flex-col">
                 <div>Tổng nhiệm vụ: <span>2</span></div> 
              </div>
              <div class="buttons">
                <a href="/hocsinh/monhoc/baitap/chitiet/1">
                   <div class="flex-col">
                      <div>
                         <div class="name">Bài tập ngữ pháp</div>
                         <div class="name">Kết thúc: 21:00 04/10/2023</div>
                      </div>
                      <div>
                         <div class="name">Tiến độ</div>
                         <div class="name">70%</div>
                      </div>
                   </div>
                </a>

                <a href="/hocsinh/monhoc/baitap/chitiet/2">
                   <div class="flex-col">
                      <div>
                         <div class="name">Thì quá khứ</div>
                         <div class="name">Kết thúc: 21:00 04/10/2023</div>
                      </div>
                      <div>
                         <div class="name">Tiến độ</div>
                         <div class="name">40%</div>
                      </div>
                   </div>
                </a>
                 
              </div>
                      </div>
          </div>
    </div>
    