
<!-- Router
addRoute({
    path: '/lophoc/addhosinh',
    url: site_url('/lophoc/addhosinh.html'),
    on: AEventPage("lophocaddhosinh")
}).then((page)=>{

});
!-->
<div class="page intro" data-name="lophocaddhosinh">
      <!-- Top Navbar -->
      <div class="navbar webviewnewsbars">
         <div class="navbar-bg"></div>
 <div class="navbar-inner sliding">
   <div class="left">
     <a href="#" class="link back">
       <i class="icon icon-back"></i>
       <span class="if-not-md"></span>
     </a>
   </div>
   <div class="title"> </div>
   
 </div>
</div>

          
          <!-- Scrollable page content -->
           <div class="page-content">
                  <div class="flex-cente1r">
        <div class="">
            <h1>Thêm học sinh</h1>
        </div>
        
            <form action="" method="POST" class="">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nhập mã số học sinh</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
      </div>
      
    </form>
        
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
              
          </div>
    </div>
    