<div class="page lophoc" data-name="lophoc">
      <!-- Top Navbar -->
      <div class="navbar webviewnewsbars">
         <div class="navbar-bg"></div>
 <div class="navbar-inner sliding">
   <div class="left">
     <a href="#" class="link back">
       <i class="icon icon-back"></i>
       <span class="if-not-md"></span>
     </a>
   </div>
   <div class="title">Lớp học</div>
   
 </div>
</div>

          
         <!-- Scrollable page content -->
           <div class="page-content">
               <div class="block">
            <div class="buttons">
              <a href="/lophoc/item/1">
            <div class="flex-col">
               <img src="https://cdn-icons-png.flaticon.com/128/2666/2666505.png" width="75" height="75"><br/>Lớp 8.1
            <div>
              <div>Tổng số</div>
              <span>30</span>
            </div>
            </div>
          </a>
          <a href="/lophoc/item/1">
            <div class="flex-col">
            <img src="https://cdn-icons-png.flaticon.com/128/2666/2666505.png" width="75" height="75"><br/>Lớp 8.2
            <div>
             <div>Tổng số</div>
              <span>30</span>
            </div>
          </div>
          </a>

          <a href="/lophoc/item/1">
            <div class="flex-col">
            <img src="https://cdn-icons-png.flaticon.com/128/2666/2666505.png" width="75" height="75"><br/>Lớp 8.3
            <div>
              <div>Tổng số</div>
              <span>30</span>
            </div>
          </div>
          </a>

          <a href="/lophoc/item/1">
            <div class="flex-col">
            <img src="https://cdn-icons-png.flaticon.com/128/2666/2666505.png" width="75" height="75"><br/>Lớp 8.4
            <div>
              <div>Tổng số</div>
              <span>30</span>
            </div>
          </div>
          </a>
          </div>
           </div>
          </div>
    </div>